@font-face {
  font-family: "Copykey Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Copykey Regular"), url("Copykey-Rp6wV.woff") format("woff");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

h1 {
  font-family: "Copykey Regular";
  font-size: 56px;
}
